$accent-color: #F13C6E;
$light-color: #EFEFEF;
$dark-color: #333333;
$default-color: #ffffff;

$background-color-product_card: #FFFFFF;
$background-color-all_website: #EFEFEF;
$background-color-header: #ffffff;
$background-color-footer: #ffffff;
$background-color-sponsors-item-card: #FFFFFF;
$background-color-visitor-info: #F13C6E;
$background_red-color-button: #F13C6E;

$main-text-color: #ffffff;
$title-text-color: #000000;
$link-text-color: #333333;
$copyright-text-color: #828282;
