.footer {
    $self: &;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $background-color-footer;
    margin: 81px 0 0 0;
    padding: 37px 0 38px 0;

    &__text--center {
        color: $title-text-color;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    &__icon {
        display: flex;
        #{$self}__default-icon {
            a {
                img {
                    width: 45px;
                    height: 45px;
                }
            }
        }
        #{$self}__icon-youtube {
            margin: 0 20px 0 0;
        }
        #{$self}__icon-vk {
            margin: 0 20px 0 0;
        }
        #{$self}__icon-facebook {
            margin: 0 20px 0 0;
        }
        #{$self}__icon-facebook {
            margin: 0 16px 0 0;
        }
    }
}